+++
title = "BioPAL"
linkTitle = "BioPAL"

+++

{{< blocks/cover title="Welcome to BioPAL - The BIOMASS Product Algorithm Laboratory" image_anchor="top" height="full" color="orange" >}}
<figure>
    <img src="/about/img/biopal_logo.png" width="160" height="200">
</figure>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/BioPAL/BioPAL">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">an ESA sponsored project</p>
	{{< blocks/link-down color="lightgreen" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The BIOMASS Product Algorithm Laboratory (BioPAL) is an open-source scientific computing project,
supporting the development of ESA’s BIOMASS mission algorithms coded in Python. The goal of the BioPAL
project is to bridge the gap between advancements in scientific algorithm development and fast integration
of these advancements into ESA’s BIOMASS’s ground operations. It is the first time that an official ESA
Earth Explorer operational processor is supported by open and collaborative development of processing
algorithms within the scope of an open-source software project and community.

Join us, to support global forest BIOMASS monitoring!
{{% /blocks/lead %}}

{{< blocks/section color="gray-300" >}}
{{% blocks/feature icon="fa-lightbulb" title="Getting started with BioPAL" %}}
Discover our tutorials to get started processing BIOMASS data. 
You can also check out our BioPAL workspace on the MAAP platform!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Join the community" url="https://github.com/BioPAL/BioPAL" %}}
Get involved in BioPAL and help shape it's future. We do a [Pull Request](https://github.com/BioPAL/BioPAL/pulls) contributions workflow on **GitHub**.
Leave a bug report or an issue, integrate your new algorithms or contribute to writing documentation!
New developers are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Contact us" url="https://twitter.com/biopal_dev" %}}
Most discussions happen on [Github](https://github.com/BioPAL/BioPAL/pulls).
You can also ask questions in our Slack chat room or on the MAAP forums.
Occasionally we will post updates in the blog section or on Twitter.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="gray-300" >}}
{{% blocks/feature icon="fas fa-tree" title="Discover the Science!" url="/docs/publications" %}}
You are a researcher wanting to learn more about the Science behind out scientific algorithms?
Discover the science and scientific research behind BioPAL's algorithms in the documentation section or read our papers!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-satellite" title="Explore the BIOMASS mission" url="/docs/biomass/mission" %}}
Find out more about ESA's 7th Earth Explorer mission, the BIOMASS mission. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-globe" title="Ecosystem" url="/docs/ecosystem" %}}
BioPAL is part of a wide ecosystem excellerating scientific discovery in Above Ground Forest Biomass research.
Check out exciting projects like the Multi-Mission Algorithm and Analysis (MAAP) platform or NASA's NISAR and GEDI missions.
{{% /blocks/feature %}}

{{< /blocks/section >}}


